@use "sass:map";
@use "@angular/material/core/theming/all-theme";
@use "@angular/material/core/core";
@use "@angular/material/core/theming/theming";
@use "@angular/material/core/typography/all-typography";
@use "@angular/material/core/typography/typography";



$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);


$primary-palette: (
  50: darken(#00FF00, 5%),
  100: lighten(#00FF00, 0%),
  200: lighten(#00FF00, 20%),
  300: lighten(#00FF00, 30%),
  400: lighten(#00FF00, 40%),
  500: lighten(#00FF00, 50%),
  600: lighten(#00FF00, 60%),
  700: lighten(#00FF00, 70%),
  800: lighten(#00FF00, 80%),
  900: lighten(#00FF00, 90%),
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$accent-palette: (
  50: darken(#0000FF, 5%),
  100: lighten(#0000FF, 0%),
  200: lighten(#0000FF, 20%),
  300: lighten(#0000FF, 30%),
  400: lighten(#0000FF, 40%),
  500: lighten(#0000FF, 50%),
  600: lighten(#0000FF, 60%),
  700: lighten(#0000FF, 70%),
  800: lighten(#0000FF, 80%),
  900: lighten(#0000FF, 90%),
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$warn-palette: (
  50: darken(#FF0000, 5%),
  100: lighten(#FF0000, 0%),
  200: lighten(#FF0000, 20%),
  300: lighten(#FF0000, 30%),
  400: lighten(#FF0000, 40%),
  500: lighten(#FF0000, 50%),
  600: lighten(#FF0000, 60%),
  700: lighten(#FF0000, 70%),
  800: lighten(#FF0000, 80%),
  900: lighten(#FF0000, 90%),
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// Include non-theme styles for core.
@include core.core();

// Define a theme.

$primary: theming.define-palette($primary-palette);
$accent: theming.define-palette($accent-palette);
$warn: theming.define-palette($warn-palette);

$theme: theming.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: all-typography.define-typography-config(),
  density: 0,
));

// Include all theme styles for the components.
@include all-theme.all-component-themes($theme);

@include typography.typography-hierarchy($theme);
