/* You can add global styles to this file, and also import other style files */
@use 'theme';
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@include theme.theme();
