/* You can add global styles to this file, and also import other style files */
@use 'theme' as theme-manager;
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
@include theme-manager.theme();

