.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;

  &>*{
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

  }
  height: calc(100% - 4.4rem);
}


.loading{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(113, 111, 111, 0.29);
  .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 5px #2c2c2c;
  }
}
.color-chip{
  flex: 1 1 33.33%;
  margin: .25rem;
  border: 1px solid #c3c3c3;
  padding: .25rem;
}

.toggleButton {
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.theme-table {
  width: 100%;
  border-spacing: .5rem;
  td.display-value{
    border: 1px solid #e3e3e3;
    padding: 0.5rem;
  }
}
