<div class="example-container mat-body {{selectThemeClass}}" [class.example-is-mobile]="true">
  <div class="mat-typography">
    <p>
      <mat-toolbar color="primary" class="example-toolbar mat-elevation-z3">
        <mat-toolbar-row>
          <button mat-icon-button (click)="this.toggleSettings();">
            <mat-icon>settings</mat-icon>
          </button>
          <span>Material Theme Generator</span>
          <mat-button-toggle-group [value]="selectedTheme.title" style="margin: .5rem;" (change)="selectTheme($event)">
            <mat-button-toggle *ngFor="let theme of themes" [value]="theme.title">
              {{theme.title}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <span style="flex: 1 1 auto;"></span>
          <button (click)="getScss()" mat-stroked-button>
            <mat-icon>download</mat-icon>
            Get Scss
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="64">
      <mat-sidenav #snav
                   [mode]="'side'"
                   [fixedInViewport]="true"
                   [opened]="isSettingsOpen"
                   style="min-width: 200px"
                   [fixedTopGap]="64">
        <div style="padding: .5rem">
          <div>
            <div style="padding: .5rem; display: flex;">
              <div>Palette</div>
              <div style="flex: 1 1 auto;"></div>
              <div>
                <button mat-stroked-button (click)="addPalette()">Add</button>
              </div>
            </div>
            <div style="display: flex; width: 600px; overflow: auto; position: relative; box-sizing: border-box;">
              <div class="color-chip" *ngFor="let color of palettes">
                <div style="display: flex">
                  <div>{{color.title | titlecase}}</div>
                  <div style="flex: 1 1 auto"></div>
                  <button mat-icon-button confirmationMessage="Are you sure you want to delete this palette?" [libConfirmation]="removePalette.bind(this, color)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <input style="display: none" matInput [formControl]="color.backgroundColor">
                <app-color-swatch [light]="lightFont"
                                  [dark]="darkFont"
                                  [swatchHeight]="'60px'"
                                  [color]="color.backgroundColor.value"
                                  (colorChange)="colorChange(color.backgroundColor, $event)"></app-color-swatch>
                <app-color-view [light]="lightFont"
                                [dark]="darkFont"
                                [color]="color.backgroundColor.value"></app-color-view>
              </div>
            </div>
          </div>
          <div>
            <div style="padding: .5rem;">Themes</div>
            <table style="width: 100%" class="theme-table">
              <thead>
              <tr>
                <th></th>
                <th>Text</th>
                <th>Background</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let theme of themes">
                <td>{{theme.title}}</td>
                <td class="display-value"
                    [style.background-color]="theme.color.value"
                    [style.color]="theme.backgroundColor.value">
                  <input style="display: none"  matInput [formControl]="theme.color">
                  <app-color-swatch [color]="theme.color.value ?? ''"
                                    [light]="lightFont"
                                    [dark]="darkFont"
                                    (colorChange)="colorChange(theme.color, $event)"></app-color-swatch>
                </td>
                <td class="display-value"
                    [style.background-color]="theme.backgroundColor.value"
                    [style.color]="theme.color.value">
                  <input style="display: none"  matInput
                         [formControl]="theme.backgroundColor">
                  <app-color-swatch [color]="theme.backgroundColor.value ?? ''"
                                    [light]="lightFont"
                                    [dark]="darkFont"
                                    (colorChange)="colorChange(theme.backgroundColor, $event)"></app-color-swatch>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div style="padding: .5rem;">Typography</div>
            <ag-grid-angular
              style="width: 100%; height: 240px;"
              class="ag-theme-alpine"
              (firstDataRendered)="firstDataRendered($event)"
              [rowData]="typographyLevels"
              [columnDefs]="columnDefs"></ag-grid-angular>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <div class="main-container">
            <iframe #iframe style="width: 100%; height: 100%; border: none;" [src]="iframePath | safe: 'resourceUrl'"></iframe>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
