:host{
  display: block;
  width: 100%;
  height: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - 4rem);
  overflow: auto;
  &>*{
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}


.color-chip{
  flex: 1 1 33.33%;
  margin: .25rem;
  border: 1px solid #c3c3c3;
  padding: .25rem;
}

.toggleButton {
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.theme-table {
  width: 100%;
  border-spacing: .5rem;
  td.display-value{
    border: 1px solid #e3e3e3;
    padding: 0.5rem;
  }
}
